<div class="col-sm-4 pull-right">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="{{ product.image.url }}" alt=""/>
                <h2>{{ product.price }}ریال</h2>
                <p>{{ product.title | truncatewords:8 }}</p>
                <form action="/new-order" method="post">
                    {% csrf_token %}
                    <button type="submit" href="{{ product.get_order_url }}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                    </button>
                </form>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <a href="{{ product.get_absolute_url }}">
                        <h2>{{ product.price }}ریال </h2>
                        <p>{{ product.description }}</p>
                    </a>
                        <a type="submit" href="{{ product.get_absolute_url }}" class="btn btn-default add-to-cart"><i
                                class="fa fa-shopping-cart"></i>مشاهده
                        </a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}"><i class="fa fa-plus-square"></i>مشاهده</a></li>
                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
            </ul>
        </div>
    </div>
</div>
